[tasks.build]
run = """
#!/usr/bin/env bash

VERSION="$(git describe --tags --always --dirty=-dev)-(#$(git rev-parse --short HEAD))"
BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

go build -o ./tmp/ytqueue -trimpath -ldflags "-X main.version=$VERSION -X main.buildDate=$BUILD_DATE" .
"""
sources = ["**/*.go", "go.mod", "go.sum"]

[tasks.run]
run = '''
#!/usr/bin/env bash

while true; do
    ./tmp/ytqueue
    read -s -p "ytqueue exited. Press [Enter] to restart..." restart
    echo
    if [[ ! -z "$restart" ]]; then
        echo "Exiting..."
        break
    fi
done
'''

[tasks.generate]
run = "sqlc generate"
