[tasks.build]
run = """
#!/usr/bin/env bash

BUILDDATE=$(date +%Y-%m-%dT%H:%M:%SZ)

go generate
go build -o ./tmp/ytqueue -trimpath -ldflags "-X main.buildDate=${BUILDDATE}"
"""
sources = ["**/*.go", "go.mod", "go.sum"]

[tasks.run]
run = """
#!/usr/bin/env bash

while true; do
    ./tmp/ytqueue
    read -s -p "ytqueue exited. Press [Enter] to restart..." restart
    echo
    if [[ ! -z "$restart" ]]; then
        echo "Exiting..."
        break
    fi
done
"""

[tasks.generate]
run = "sqlc generate"
